*{
    margin: 0;
    padding: 0;
}

/* style in first container */
.container{
    background-color: #f1f1f1;
    padding: 40px;
}
.container h1{
    margin-bottom: 15px
}
.container p{
    font-size: 20px;
    letter-spacing: 1px;
}
.input input{
    display: block;
    width: 85%;
    margin: 20px auto;
    padding: 15px;
}
.checkbox input{
    margin: 0 0 25px 39px;
}
.Last button{
    width: 90%;
    padding: 15px;
    margin: 0 0 0 35px;
    background: rgb(44, 215, 44);
    color: whitesmoke;
    outline: none;
    border: none;
    font-size: 20px;
}
.Last button:hover{
    background-color: rgb(97, 227, 97);
    transition: .5s;
}